<div class="report">
  <h1>Report Encounter</h1>
  <h3>Safety on Mars is your responsibility</h3>

  <form name ="report-form" class="report-form"  novalidate>

    <div>
      <select name="alien" id="alien" >

        <option value="" disable selected>Select alien type</option>
        <option value="Lizard Man">Lizard Man</option>
      </select>
    </div>
  <div>
    <textarea placeholder="Action taken" rows="10"></textarea>
    <!-- ng-model="actionTaken" name="Action_taken" -->
  </div>



  <div>
    <button class="button" >Submit Report</button>
    <!--  ng-click="enter($event, checkinForm)" -->
  </div>
</form>
</div>
