<div class="who">
  <h1>Who are you?</h1>

  <form ng-submit="submitForm($event)" name="whoForm" class="whoForm"  novalidate>
   <!-- ng-submit="sendRegistration($event)" -->
  <!-- <span class="error" ng-show="voter-info.input.$error.required">Required!</span> -->
  <fieldset>
        <input ng-model="colonist.name" ng-maxlength="140" ng-minlength="2" type="text" name="name" ng-class="{'invalid': invalidName}" id="name" placeholder="Name" ng-required="true" />
            <!--- ng-required="true" -->
  </fieldset>

  <div>
        <input type="number" ng-model="colonist.age" ng-required="true" ng-maxlength="3" ng-minlength="1" name="age" ng-class="{'invalid': invalidAge}" id="age" placeholder="Age" ng-required="true" />
    <!-- ng-model="age" ng-required="true" ng-maxlength="3" ng-minlength="1" -->
  </div>

  <div>

    <select name="occupation" ng-model="colonist.job_id" id="occupation" ng-class="{'invalid': invalidOccupation}" ng-required="true" >
      <!-- ng-model="province" ng-required="true"  -->
      <option value="">Select occupation</option>
      <option ng-repeat="occupation in data.occupations">
             {{occupation.name}}
           </option>

    </select>
  </div>
  <div>
    <button class="button">Check in</button>
    <!--  ng-click="enter($event, checkinForm)" -->
  </div>
</form>
</div>
