<!DOCTYPE html>
<html lang="en" ng-app="vote">
	<head>
		<meta charset="utf-8">
		<title>Angular - Voting</title>
		<meta name="description" content="Angular example">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css">


	</head>
	<body>
		<header>
		</header>


		<section class="voting" ng-controller="FormController">


		 <form name ="voter-info" class="voter-form"  novalidate>
			 <!-- ng-submit="sendRegistration($event)" -->
			<span class="error" ng-show="voter-info.input.$error.required">Required!</span>
		  <div>
		    <label for="firstname">First Name:</label>
		    <input type="text" name="firstname" id="firstname" placeholder="First Name" ng-model="firstname" ng-required="true" ng-maxlength="140" ng-minlength="2"/>
		  </div>
			<div>
		    <label for="lastname">Last Name:</label>
		    <input type="text" name="lastname" id="lastname" placeholder="Last Name" ng-model="lastname" ng-required="true" ng-maxlength="140" ng-minlength="2"/>
		  </div>
			<div>
		    <label for="age">Age:</label>
		    <input type="number" name="age" id="age" placeholder="Age" ng-model="age" ng-required="true" ng-maxlength="3" ng-minlength="1" />
		  </div>
			<fieldset>
		    <legend ng-valid="gender">Gender: </legend>

		    <label class="gender">Male</label>
		    <input type="radio" name="gender" id="male" value="male" ng-model="gender" ng-required="true"/>

		    <label>Female</label>
		    <input type="radio" name="gender" id="female" value="female" ng-model="gender" ng-required="true"/>

				<label>Other / Prefer not to disclose</label>
				<input type="radio" name="gender" id="other" value="other" ng-model="gender" ng-required="true"/>
		  </fieldset>
			<div>
				<label for="house">House Number:</label>
				<input type="number" name="house" id="house" placeholder="House Number" ng-model="house" ng-maxlength="7" ng-required="true" />
			</div>
			<div>
				<label for="address">Address:</label>
				<input type="text" name="address" id="address" placeholder="Address" ng-model="address" ng-maxlength="30" ng-required="true" />
			</div>

		  <div>
		    <label for="province">Select Dropdown Choice:</label>
		    <select name="province" id="province" ng-model="province" ng-required="true">
		      <option value="ab">Alberta</option>
		      <option value="bc">BC</option>
		      <option value="mb">Manitoba</option>
					<option value="nb">New Brunswick</option>
		      <option value="nl">Newfoundland &amp; Labrador</option>
		      <option value="nt">Northwest Territories</option>
					<option value="ns">Nova Scotia</option>
		      <option value="nu">Nunavut</option>
		      <option value="on">Ontario</option>
					<option value="pe">Prince Edward Island</option>
		      <option value="qc">Qu&eacute;bec</option>
					<option value="sk">Saskatchewan</option>
		      <option value="yk">Yukon</option>
		    </select>
		  </div>


		  <div>
		    <label for="agree">Check to accept voter responsibility</label>
		    <input type="checkbox" name="agree" id="agree" ng-model="agree" />
		  </div>
		  <div>
		    <input type="submit" value="Submit" ng-model="Submit" />
		  </div>
		</form>
		</section>

		<footer>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/main/main.js"></script>
		<script>

		</script>
	</body>
</html>
