<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Mars</title>
		<meta name="description" content="Mars Program">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css">
	</head>
	<body>
		<header>
		</header>
		<div class="who">
			<h1>Who are you?</h1>

			<form name ="who-form" class="who-form"  novalidate>
			 <!-- ng-submit="sendRegistration($event)" -->
			<!-- <span class="error" ng-show="voter-info.input.$error.required">Required!</span> -->
		  <div>
		    		    <input type="text" name="name" id="name" placeholder="Name"  />
								<!---ng-model="name" ng-required="true" ng-maxlength="140" ng-minlength="2"-->
		  </div>

			<div>

		    <input type="number" name="age" id="age" placeholder="Age"  />
				<!-- ng-model="age" ng-required="true" ng-maxlength="3" ng-minlength="1" -->
		  </div>
			<div>

		    <select name="occupation" id="occupation" >
					<!-- ng-model="province" ng-required="true"  -->
					<option value="" disable selected>Select occupation</option>
		      <option value="janitor">Janitor</option>
		      <option value="alien">Alien Hunter</option>
					<option value="dust">Dust Farmer</option>
					<option value="battery">Battery technician</option>
					<option value="yoga">Yoga teacher</option>
				</select>
			</div>
			<div>
				<button class="button" >Check in</button>
				<!--  ng-click="enter($event, checkinForm)" -->
			</div>
		</form>
		</div>
		<footer>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
